@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .hide {
    display: none;
  }

  .white {
    color: white;
  }

  #landing {
    background-image: url('/img/bg.jpg');
    background-position:  center center;
    background-size: cover;
    height: 100vh;
  }

  #landing-logo {
    margin-top: 5vh;
    margin-left: 45vw;
    width: 10vw;
  }

  #down-arrow {
    margin-top: 65vh;
    font-size: 4vw;
    display: block;
    margin-left: 48vw;
    cursor: pointer;
  }

  #properties-container {
    margin-left: 10vw;
    margin-right: 9vw;
    padding-top: 5vh;
  }

  #nav {
    margin-bottom: 3vh;
  }

  #nav-filter {
    width: 5vw;
    float: left;
    opacity: .7;
    color: black;
  }

  #nav-logo {
    position: relative;
    opacity: .7;
    width: 5vw;
    display: inline-block;
    margin-left: 32.5vw;
  }

  #nav-contact {
    color: black;
    opacity: .7;
    float: right;
    margin-right: 2vw;
  }

  #nav-contact-link {
    text-decoration: none;
  }

  #nav-logo:hover {
    opacity: 1;
  }

  #nav-contact:hover {
    opacity: 1;
  }

  #nav-filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  #filters {
    display: none;

    input {
      width: 15vw;
      border: none;
      border-bottom: black solid 1px;
      display: inline-block;
      border-radius: 0;
      color: black;
      padding: 0;
      box-shadow: none;
      margin-bottom: 5vh;
    }

    #filter-zip {
      float:right;
      margin-right: 2vw;
    }

    #filter-state {
      margin-left: 18.5vw;
    }

  }

  .property-tile {
    width: 25vw;
    height: 25vw;
    margin-right: 2vw;
    display: inline-block;
    margin-bottom: 2vw;
  }

  .property-tile-hover {
    margin: 0;
    padding: 0;
    width: 25vw;
    height: 25vw;
  }

  .property-tile-hover:hover {
    background-color: rgba(255, 255, 255, 0.8);

    .property-tile-name {
      color: black;
    }

    .property-tile-date {
      color: black;
    }
  }

  .property-tile-name {
    color: rgba(255, 255, 255, 0);
    font-weight: bold;
    margin-top: 0;
    padding-top: 40%;
    text-align: center;
  }

  .property-tile-date {
    color: rgba(255, 255, 255, 0);
    text-align: center;
  }

}

